body{
    margin: 0 auto;
    max-width:722px;
    padding: 32px 16px 64px 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    color: #555;
}
p {
    max-width: 520px;
}
h1,h2,strong {
  color: #333;
}
h2 {
    font-weight: initial;
}

code, pre {
    background: #eee;
}
code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}
pre {
    padding: 1em;
}

.preview {
    border: solid 1px #ccc;
}
.date {
    font-size:14px;
    float: right;
    color: #636363
}
a {
    color: steelblue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
