body{
    margin:18px auto;
    width:722px;
    padding:0 10px;
    font:17px/1.62 serif;
    color: #464646
}
p {
    width: 520px;
}
h1,h2,h3 {
    line-height:1.2;
    font-family: serif;
    margin-bottom: 0px;
    color:#000;
}
h1 {
    font-size: 32pt;
}
h2{
    font-size: 20pt;
}
code, pre {
    background: #eee;
}
code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}
pre {
    padding: 1em;
}

.preview {
        border: solid 1px #ccc;
    }
.date {
    font-size:14px;
    float: right;
    color: #636363
}
a {
    color: steelblue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}